<div class="panel panel-default">
	<div class="panel-heading">

	  	<h1>About Professional Now<h1/>
	</div>
	<div class="panel-body">
	<p>If you need a Professional Now then just enter your information and the 
	service you're in need of, and a professional will contact you in no time.</p>
	</div>
	<div class="panel-footer">
		<%=link_to 'Home', root_path, class: 'btn btn-primary'%>
		
		<%=link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary'%>
</div>
