<title>ProNow</title>
<div class="jumbotron">
<div class="panel panel-default">	
	<div class= "panel-heading">
		<h1>Need a Professional Now?</h1>
	</div>
	<div class= "panel-body">
		<p>Find an Expert in your Area Now</p>
	</div>
	<div class="panel-footer">
    <%=link_to 'Home', root_path, class: 'btn btn-primary'%>
    <%=link_to 'About', home_about_path, class: 'btn btn-primary'%>
    
	</div>
</div>
