<div class="jumbotron">
    <h1>Need a Professional Now?</h1>
    <p>Find an Expert in your Area Now</p>
    <button type="button" class="btn btn-secondary"><%=link_to 'About', home_about_path%></button>
</div>
