<title>ProNow</title>
<div class="jumbotron">
<div class="panel panel-default">	
	<div class= "panel-heading">
		<h1>Need a Professional Now?</h1>
	</div>
	<div class= "panel-body">
		<p>Find an Expert in your Area Now</p>
		<body>Simply sign up and enter your job details and our system will find the best professionals tailored to your specifications.
		within 24 hours you should have a professional estimate.</body>
	</div>
	<div class="panel-footer">
    <%=link_to 'Home', root_path, class: 'btn btn-primary'%>
    <%=link_to 'About', home_about_path, class: 'btn btn-primary'%>
    
	</div>
</div>
